*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src: url(fonts/rubik-variablefont_wght-webfont.woff2);
}

a, a:visited, a:hover, a:focus, a:hover, a:active {
  text-decoration: none;
  color: white;
}

/* body {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 25px;
  background-color: #faf9f6;
} */

body {
    background-image: url(images/background.jpg);
    background-repeat: none;
    background-size: cover;
    font-family: 'Rubik';
    font-weight: 400;
}

.main {
  /* outline: 3px solid red; */
  max-width: 700px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

h1 {
  font-size: 50px;
}

#text {
  text-align: center;
}

p {
  font-size: 20px;
}

#btn {
  background-image: linear-gradient(to bottom right, rgb(73, 2, 73), blueviolet);
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
}

/* h2 {
  font-size: 30px;
} */

#btn:hover {
  width: 210px;
  height: 42px;
  font-size: 17px;
}

/* h2:hover {
  font-size: 1.6em;
} */

@media only screen and (max-width: 768px) {

  .main {
    max-width: 500px;
    max-height: 450px;
  }

  h1 {
    font-size: 40px;
  }

}

@media only screen and (max-width: 500px) {

  .main{
    max-width: 300px;
    max-height: 400px;
  }

  h1 {
    font-size: 38px;
  }

  p {
    font-size: 17px;
  }

  #btn {
    width: 150px;
    height: 30px;
    font-size: 12px;
    border-radius: 8px;
  }

  #btn:hover {
    width: 165px;
    height: 33px;
    font-size: 13px;
  }

}

